WEEK3: DEVELOP A PYTHON SCRIPT THAT SHOWCASES THE PYTHON BASICS LEARNED, DEMOSTRATING YOUR UNDERSTANDING OF PYTHON PROGRAMMING.

In [ ]:
#Creating a variable#
name = "Aleena"
age = 5
height = 3.8
is_student = True

In [ ]:
# Print variables
print("Name:", name)
print("Age:", age)
print("Height:", height)
print("Is Student?", is_student)

Name: Aleena
Age: 5
Height: 3.8
Is Student? True

In [ ]:
# Conditional statement
if age >= 18:
    print("You are an adult.")
else:
    print("You are a minor.")

You are a minor.

In [ ]:
# Loop
print("Counting from 1 to 5:")
for B in range(1, 6):
    print(B)

Counting from 1 to 5:
5
5
5
5
5

In [ ]:
# Function
def greet(name):
   return "Hello, "+ Aleena +"!"

In [ ]:
def greet(name="moonrise"):
    return "Hello, " + name + "!"

In [ ]:
# Call the function without providing any argument
print(greet())

Hello, moonrise!

In [ ]:
# Call the function with an argument
print(greet("Aleena"))

Hello, Aleena!