QUESTION:ANALYSE A SMALL DATASET USING PYTHON, DOCUMENTING THE STEP BY STEP PROCESSOF THE DATA ANALYSIS JOURNEY

In [3]:
### Importing the Library ###
import pandas as pd

In [4]:
# Read the CSV file into a DataFrame
df = pd.read_csv("INFO OF FRIENDS.csv")

In [5]:
# Display the DataFrame
print("INFO OF FRIENDS:")
print(df)
print()

INFO OF FRIENDS:
          NAME  GENDER  AGE    RELIGION QUALIFICATION
0        ABBAS    MALE   19      MUSLIM          SSCE
1      BILKISU  FEMALE   20      MUSLIM           BSC
2          ADE    MALE   18  CHRISTRIAN           BSC
3       BASHIR    MALE   30      MUSLIM       MASTERS
4      KINSLEY    MALE   24  CHRISTRIAN       MASTERS
5        WENDY  FEMALE   25      MUSLIM       MASTERS
6   ABDULAZEEZ    MALE   28      MUSLIM       MASTERS
7         UMMI  FEMALE   32      MUSLIM           BSC
8      MUJAHID    MALE   28      MUSLIM           PHD
9        NAZER    MALE   24      MUSLIM       MASTERS
10       AISHA  FEMALE   29      MUSLIM           PHD

In [6]:
# Get some basic information about the DataFrame
print("INFO OF FRIENDS Info:")
print(df.info())
print()

INFO OF FRIENDS Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   NAME           11 non-null     object
 1   GENDER         11 non-null     object
 2   AGE            11 non-null     int64
 3   RELIGION       11 non-null     object
 4   QUALIFICATION  11 non-null     object
dtypes: int64(1), object(4)
memory usage: 568.0+ bytes
None

In [9]:
# Add a new column to the DataFrame
df['Height'] = [160, 120, 135, 123, 175,159, 145, 140, 155, 170, 165]  # Assuming heights in cm
print("INFO OF FRIENDS with Height column:")
print(df)
print()

INFO OF FRIENDS with Height column:
          NAME  GENDER  AGE    RELIGION QUALIFICATION  Height
0        ABBAS    MALE   19      MUSLIM          SSCE     160
1      BILKISU  FEMALE   20      MUSLIM           BSC     120
2          ADE    MALE   18  CHRISTRIAN           BSC     135
3       BASHIR    MALE   30      MUSLIM       MASTERS     123
4      KINSLEY    MALE   24  CHRISTRIAN       MASTERS     175
5        WENDY  FEMALE   25      MUSLIM       MASTERS     159
6   ABDULAZEEZ    MALE   28      MUSLIM       MASTERS     145
7         UMMI  FEMALE   32      MUSLIM           BSC     140
8      MUJAHID    MALE   28      MUSLIM           PHD     155
9        NAZER    MALE   24      MUSLIM       MASTERS     170
10       AISHA  FEMALE   29      MUSLIM           PHD     165